In [8]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score,train_test_split,cross_val_predict
from sklearn.model_selection import KFold,StratifiedKFold
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, ParameterGrid
from sklearn.ensemble import BaggingRegressor,BaggingClassifier,RandomForestRegressor,RandomForestClassifier
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import roc_curve, precision_recall_curve, auc, make_scorer, recall_score, \
accuracy_score, precision_score, confusion_matrix, mean_squared_error, r2_score, mean_absolute_error

import warnings
warnings.filterwarnings("ignore")

In [28]:
# reading in train data 
train = pd.read_csv('train_data.csv', nrows=10000) #can change nrows value to make train/test datasets bigger

In [29]:
# reading in test data
test = pd.read_csv('test_data.csv', nrows = 10000)

In [30]:
# storing missing values for each column in train
val_train = train.isna().sum()

# storing missing values for each column in test
val_test = test.isna().sum()

In [31]:
# creating dataframe to store how many values are missing in each column for both train and test
na_df = pd.DataFrame(columns = train.columns)
na_df.loc['Train'] = val_train
na_df.loc['Test'] = val_test
na_df

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
Train,0,0,64,0,0,0,0,1752,0,0,...,9628,9628,9628,153,63,153,8428,153,63,153
Test,0,0,41,0,0,6,0,1672,6,6,...,9706,9706,9706,86,29,86,8189,86,29,86