In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression, LinearRegression

from sklearn.model_selection import train_test_split, cross_val_predict, cross_val_score

from sklearn.preprocessing import StandardScaler

from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error, r2_score, \
roc_curve, auc, precision_score, recall_score, confusion_matrix

In [4]:
#Reading data
data = pd.read_excel('./hospital_data.xlsx')
data.head()

,SL.,AGE,GENDER,MALE,MARITAL STATUS,UNMARRIED,KEY COMPLAINTS -CODE,ACHD,CAD-DVD,CAD-SVD,...,TYPE OF ADMSN,ELECTIVE,TOTAL COST TO HOSPITAL,Ln(Total Cost),TOTAL LENGTH OF STAY,LENGTH OF STAY - ICU,LENGTH OF STAY- WARD,IMPLANT USED (Y/N),IMPLANT,COST OF IMPLANT
0,1,58.0,M,0,MARRIED,0,other- heart,0,0,0,...,EMERGENCY,0,660293.0,13.400439,25,12,13,Y,1,38000
1,2,59.0,M,0,MARRIED,0,CAD-DVD,0,1,0,...,EMERGENCY,0,809130.0,13.603715,41,20,21,Y,1,39690
2,3,82.0,M,0,MARRIED,0,CAD-TVD,0,0,0,...,ELECTIVE,1,362231.0,12.800037,18,9,9,N,0,0
3,4,46.0,M,0,MARRIED,0,CAD-DVD,0,1,0,...,EMERGENCY,0,629990.0,13.353459,14,13,1,Y,1,89450
4,5,60.0,M,0,MARRIED,0,CAD-DVD,0,1,0,...,EMERGENCY,0,444876.0,13.005551,24,12,12,N,0,0

In [10]:
data.columns

Index(['SL.', 'AGE', 'GENDER', 'MALE', 'MARITAL STATUS', 'UNMARRIED',
       'KEY COMPLAINTS -CODE', 'ACHD', 'CAD-DVD', 'CAD-SVD', 'CAD-TVD',
       'CAD-VSD', 'OS-ASD', 'other- heart', 'other- respiratory',
       'other-general', 'other-nervous', 'other-tertalogy', 'PM-VSD', 'RHD',
       'BODY WEIGHT', 'BODY HEIGHT', 'HR PULSE', 'BP -HIGH', 'BP-LOW', 'RR',
       'PAST MEDICAL HISTORY CODE', 'Diabetes1', 'Diabetes2', 'hypertension1',
       'hypertension2', 'hypertension3', 'other', 'HB', 'UREA', 'CREATININE',
       'MODE OF ARRIVAL', 'AMBULANCE', 'TRANSFERRED',
       'STATE AT THE TIME OF ARRIVAL', 'ALERT', 'TYPE OF ADMSN', 'ELECTIVE',
       'TOTAL COST TO HOSPITAL ', 'Ln(Total Cost)', 'TOTAL LENGTH OF STAY',
       'LENGTH OF STAY - ICU', 'LENGTH OF STAY- WARD', 'IMPLANT USED (Y/N)',
       'IMPLANT ', 'COST OF IMPLANT'],
      dtype='object')

In [12]:
#drop 
data = data.drop(["GENDER", 'MARITAL STATUS', 'KEY COMPLAINTS -CODE', 'PAST MEDICAL HISTORY CODE', 
              'MODE OF ARRIVAL', 'STATE AT THE TIME OF ARRIVAL', 'TYPE OF ADMSN', 'Ln(Total Cost)', 
             'IMPLANT USED (Y/N)'], axis = 1)

In [24]:
data.shape

(248, 42)

In [19]:
#Number of missing values
data.isnull().sum()

SL.                         0
AGE                         0
MALE                        0
UNMARRIED                   0
ACHD                        0
CAD-DVD                     0
CAD-SVD                     0
CAD-TVD                     0
CAD-VSD                     0
OS-ASD                      0
other- heart                0
other- respiratory          0
other-general               0
other-nervous               0
other-tertalogy             0
PM-VSD                      0
RHD                         0
BODY WEIGHT                 0
BODY HEIGHT                 0
HR PULSE                    0
BP -HIGH                   23
BP-LOW                     23
RR                          0
Diabetes1                   0
Diabetes2                   0
hypertension1               0
hypertension2               0
hypertension3               0
other                       0
HB                          2
UREA                       13
CREATININE                 33
AMBULANCE                   0
TRANSFERRED                 0
ALERT                       0
ELECTIVE                    0
TOTAL COST TO HOSPITAL      0
TOTAL LENGTH OF STAY        0
LENGTH OF STAY - ICU        0
LENGTH OF STAY- WARD        0
IMPLANT                     0
COST OF IMPLANT             0
dtype: int64

In [20]:
np.any(np.isnan(data))

True

In [22]:
#chekcing infinite values
np.all(np.isfinite(data))

False

In [25]:
#drop missing values
data = data.dropna()

In [26]:
data.shape

(191, 42)

In [27]:
# Separating the predictors and response 
y = data['TOTAL COST TO HOSPITAL ']
X = data.drop("TOTAL COST TO HOSPITAL ", axis = 1)

In [28]:
# Creating training and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 45)

In [29]:
# Create a model object - not trained yet
model = LinearRegression().fit(X_train, y_train)

In [30]:
# Get predictions
y_pred = model.predict(X_test)

In [36]:
#Standard deviation of response 
np.std(y_pred)

107169.29582704589

In [34]:
#Calculate RMSE
mean_squared_error(y_test, y_pred, squared = False)

43909.06751213603